*{
    color:rgb(71, 12, 12);
    
}
body {
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color:rgb(71, 12, 12);
    line-height: 1.6;
    text-align: left;
    margin: auto;
    max-width: 900px;
    padding: 30px;
    background-image: url("Gridlines.png");
}

h2text {
    /* color: tomato; */
    text-align: center;
    font-weight: 200;
    font-size: 30px;
}


#heading {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 52px;
    position: relative;
    top: 35px;
}

.container {
    /* max-width:350px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* position: relative; */
    top:25px;
    padding: 60px;
}
.container2 {
    /* min-width:320px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* position: relative; */
    /* top:25px; */
    padding: 5px;
}

.column {
    min-width: 200px;
    flex: 1;
    padding: 10px;
    position: relative;
}

p {
    text-align: center;
    font-style: italic;
    position: relative;
    top: 30px;
}
ol{
    line-height: 1.8;
}

p_ {
    text-align: center;
    font-style: bold;
    position: relative;
    top: 30px;
    font-size: 30px;
    display: block;
}
p2{
    position:absolute;
    left:200px;
    top:360px;
    /* font-size: 20px; */
    
}

.page{
    font-size: 16px;
}


@media screen and (max-width: 760px) {
   *{
    line-height:2.2;
    /* color: black; */
    /* font-weight: bolder; */
    }
    .container{
        flex-direction: column;
    }
    .container2{
    flex-direction: column;
}
body{
    background-image: url("Gridlines.png");
    background-color: ghostwhite;
}
h2text {
    font-weight:300;
}
p2{
    position:absolute;
    left:314px;
    top:506px;
    
}
h1text{
    font-size: 50px;
}
}